<div id="pareja-lista-repo">
  <h3>Registro de Asistencia - 28/01/2011</h3>

  <h5 style="text-align:right">La columna F indica si Ya tiene FOTO o No</h5>
  <table>
	<th>No.</th>
	<th>Hoy</th>
	<th>Esposo</th>
	<th>Esposa</th>
	<th>F</th>

	<% @parejas.each do |pareja| %>
    <tr class="<%= cycle('lista-linea-impar', 'lista-linea-par-repo') %>">

      <td>
		<%=h pareja.codigo %>
      </td>

      <td>
      </td>

      <td>
        <%=h pareja.nom_el %>
      </td>

      <td>
        <%=h pareja.nom_ella %>
      </td>

      <td>
		<% if pareja.foto_file_size.nil? then %>
			<%=h "No"%>
		<% else %>
			<% if pareja.foto_file_size < 100000 then %>
				<%=h "No"%>
			<% else %>
				<%=h "Ya"%>
			<% end %>
		<% end %>
      </td>

    </tr>
  <% end %>
  </table>
</div>

<br />

<h3> Parejas Nuevas</h3>

<br />
<br />
<br />

<h3> Nos visitan </h3>
