<div id="pareja-lista">
  <h2>Asistencia de Parejas con Retiro 1 ( <%= Date.today.strftime("%d/%m/%Y") %> ). Ordenados por antiguedad según fecha de su primera asamblea.</h2>
	<h4>Nota: Cada número entre puntos indica que la pareja asistió a una asamblea dentro de ese mes. Ej: Asist.(48) .1.1.2.2.2.2 indica que la pareja ha asistido a 48 asambleas, iniciando con dos asambleas en enero, cuatro en febrero, etc. </h4>

  <table>
  <% @parejas.each do |pareja| %>
    <tr class="<%= cycle('lista-linea-impar', 'lista-linea-par') %>">

      <td class="lista-codigo">
        <dl>
          <dt><%=h pareja.codigo %></dt>
		  <dd>Fecha 1era Asamblea:</dd>
		  <dd><%=h pareja.fch_1era_asamblea%></dd>
        </dl>
      </td>

      <td>
       <%= image_tag pareja.foto.url (:thumb)%>
      </td>


		<% eventos = pareja.eventos %>
		<% lista = "" %>
		<% eventos.each do |evento|
		lista = lista + "." + evento.fecha.month.to_s
		end %>

      <td class="lista-nombre">
        <dl>
          <dt><%=h pareja.nom_el %></dt>
          <dd><%=h pareja.email_el %></dd>
          <dd><%=h pareja.movil_el %></dd>
         <dd>Asist.(<%=h eventos.count %>) <%=h lista %></dd>
        </dl>
      </td>

      <td class="lista-nombre">
        <dl>
          <dt><%=h pareja.nom_ella %></dt>
          <dd><%=h pareja.email_ella %></dd>
          <dd><%=h pareja.movil_ella %></dd>
          <dd><%=h pareja.tel_casa %></dd>
        </dl>
      </td>

    </tr>
  <% end %>
  </table>
</div>

<br />
