<div id="pareja-lista">
  <h3>Reporte de Parejas Activas ( <%= Date.today.strftime("%d/%m/%Y") %> )</h3>

  <table>
  <% @parejas.each do |pareja| %>
    <tr class="<%= cycle('lista-linea-impar', 'lista-linea-par') %>">

      <td class="lista-codigo">
        <dl>
          <dt><%=h pareja.codigo %></dt>
		  <dd><%=h pareja.fch_1era_asamblea%></dd>
        </dl>
      </td>

		<% eventos = pareja.eventos %>
		<% lista = "" %>
		<% eventos.each do |evento|
		lista = lista + "." + evento.fecha.month.to_s
		end %>

      <td class="lista-nombre">
        <dl>
          <dt><%=h pareja.nom_el %></dt>
          <dd><%=h pareja.email_el %></dd>
          <dd><%=h pareja.movil_el %></dd>
         <dd>Asistencia (#mes): <%=h lista %></dd>
        </dl>
      </td>

      <td class="lista-nombre">
        <dl>
          <dt><%=h pareja.nom_ella %></dt>
          <dd><%=h pareja.email_ella %></dd>
          <dd><%=h pareja.movil_ella %></dd>
        </dl>
      </td>

    </tr>
  <% end %>
  </table>
</div>

<br />
