<h2>Cambiar clave</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <p><%= f.label :clave %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :confirmar_clave %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Cambiar mi clave" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>