<%= form_for(@evento) do |f| %>
  <% if @evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evento.errors.count, "error") %> Datos de asamblea no pasa validación:</h2>

      <ul>
      <% @evento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codigo %><br />
    <%= f.text_field :codigo %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br />
    <%= f.date_select :fecha %>
  </div>
  <div class="actions">
    <%= f.submit "Actualizar Asamblea"%>
  </div>


  <% for pareja in Pareja.unscoped.order("nom_el").find(:all, :conditions => ["activo='t'"]) %>
    <div>  
      <%= check_box_tag "evento[pareja_ids][]", pareja.id, @evento.parejas.include?(pareja) %>  
      <%= pareja.codigo + "-->" + pareja.nom_el + " | " + pareja.nom_ella %>  
    </div>  
  <% end %>
<% end %>
