<h1>Lista de Asambleas</h1>

<table>
  <tr>
    <th>Código</th>
    <th>Fecha</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @eventos.each do |evento| %>
  <tr>
    <td><%= evento.codigo %></td>
    <td><%= evento.fecha %></td>
    <td><%= link_to 'Mostrar', evento %></td>
    <td><%= link_to 'Editar', edit_evento_path(evento) %></td>
    <td><%= link_to 'Borrar', evento, :confirm => 'Está seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Asamblea', new_evento_path %>
