<h2>Ingresar a su cuenta</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<%= devise_error_messages! %>

  <p><%= f.label :Usuario %><br />
  <%= f.text_field :username %></p>

  <p><%= f.label :clave %><br />
  <%= f.password_field :password %></p>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me %> <%= f.label :Recordarme_en_este_equipo %></p>
  <% end -%>

  <p><%= f.submit "Ingresar" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>