<%= form_for @pareja, :url => pareja_path, :html => { :multipart => true }  do |f| %>
  <% if @pareja.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pareja.errors.count, "error") %> Datos de pareja no pasa validación:</h2>

      <ul>
      <% @pareja.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :Código %>
    <%= f.text_field :codigo %>
	<%= f.file_field :foto %>

    <%= f.label :Fecha_1era_asamblea %>
    <%= f.date_select :fch_1era_asamblea, :start_year => 2010 %>
  </div>

	<fieldset>
		<legend> DATOS DEL ESPOSO</legend>
		<div class="field">
			<%= f.label :Nombre %>
			<%= f.text_field :nom_el %>

			<%= f.label :Fecha_de_nacimiento %>
			<%= f.date_select :fch_nac_el, :start_year => Date.current.year - 85, :end_year => Date.current.year - 15 %>
		</div>
		<div class="field">
			<%= f.label :Ocupación %>
			<%= f.text_field :ocupacion_el %>
		</div>
		<div class="field">
			<%= f.label :Teléfono_celular %>
			<%= f.text_field :movil_el %>

			<%= f.label :Correo_electrónico %>
			<%= f.text_field :email_el %>
		</div>
	</fieldset>

	<fieldset>
		<legend> DATOS DE LA ESPOSA</legend>
		<div class="field">
			<%= f.label :Nombre %>
			<%= f.text_field :nom_ella %>

		  <%= f.label :Fecha_de_nacimiento %>
		  <%= f.date_select :fch_nac_ella, :start_year => Date.current.year - 85, :end_year => Date.current.year - 15 %>
		</div>
		<div class="field">
		  <%= f.label :Ocupación %>
		  <%= f.text_field :ocupacion_ella %>
		</div>
		<div class="field">
		  <%= f.label :Teléfono_celular %>
		  <%= f.text_field :movil_ella %>

		  <%= f.label :Correo_electrónico %>
		  <%= f.text_field :email_ella %>
		</div>
	</fieldset>

	<fieldset>
		<legend> DATOS DE AMBOS </legend>
		<div class="field">
		  <%= f.label :Lugar_de_residencia %>
		  <%= f.text_field :residencia %>

		  <%= f.label :Teléfono_de_la_casa %>
		  <%= f.text_field :tel_casa %>
		</div>
		<div class="field">
		 <%= f.label :Fecha_de_matrimonio %>
		 <%= f.date_select :fch_matrimonio, :start_year => Date.current.year - 70, :end_year => Date.current.year %>
		</div>
	</fieldset
	
	<fieldset>
		<legend> OTROS DATOS </legend>
		<div class="field">
		  <%= f.label :Cantidad_de_hijos %>
		  <%= f.text_field :hijos_vivos %>

		  <%= f.label :Cantidad_de_perdidas %>
		  <%= f.text_field :perdidas %>
		</div>
		<div class="field">
		  <%= f.label :Invitados_por %>
		  <%= f.text_field :invitados_por %>

		  <%= f.label :Ministerio %>
		  <%= f.text_field :ministerio %>
		</div>
		<div class="field">
		  <%= f.label :retiro1 %>
		  <%= f.check_box :retiro1 %>

		  <%= f.label :retiro2 %>
		  <%= f.check_box :retiro2 %>

		  <%= f.label :retiro3 %>
		  <%= f.check_box :retiro3 %>

		  <%= f.label :retiro4 %>
		  <%= f.check_box :retiro4 %>
		</div>
	</fieldset>
  <div class="actions">
    <%= f.submit "Actualizar Pareja" %>
  </div>
<% end %>
