<h1>Asistencia de la Pareja</h1>

<p>
  <%= image_tag @pareja.foto.url (:medium)%>
</p>

<p>
  <b> Código:</b> 
  <%= @pareja.codigo %>
  <b>Fecha 1era asamblea:</b>
  <%= @pareja.fch_1era_asamblea %>
  <b> Esposo:</b>
  <%= @pareja.nom_el %>
  <b>Esposa:</b>
  <%= @pareja.nom_ella %>
</p>

<% eventos = @pareja.eventos %>

<p>
  <b>Total de asambleas:</b>
  <%= eventos.count %>
</p>

<div id="pareja-lista-repo">
   <table>
	<th>No.</th>
	<th>Fecha</th>

	<% eventos.each do |evento| %>
    <tr class="<%= cycle('lista-linea-impar', 'lista-linea-par-repo') %>">

      <td>
		<%=h evento.codigo %>
      </td>

      <td>
        <%=h evento.fecha %>
      </td>

    </tr>
  <% end %>
  </table>
</div>

<%= link_to 'Anterior', parejas_path %>
