<div id="pareja-lista">
  <h1>Lista de Parejas</h1>

  <table>
  <% @parejas.each do |pareja| %>
    <tr class="<%= cycle('lista-linea-impar', 'lista-linea-par') %>">

      <td class="lista-codigo">
        <dl>
          <dt><%=h pareja.codigo %></dt>
		  <dd><%=h pareja.fch_1era_asamblea%></dd>
        </dl>
      </td>

      <td>
       <%= image_tag pareja.foto.url (:thumb)%>
      </td>

      <td class="lista-nombre">
        <dl>
          <dt><%=h pareja.nom_el %></dt>
          <dd><%=h pareja.email_el %></dd>
          <dd><%=h pareja.movil_el %></dd>
        </dl>
      </td>

      <td class="lista-nombre">
        <dl>
          <dt><%=h pareja.nom_ella %></dt>
          <dd><%=h pareja.email_ella %></dd>
          <dd><%=h pareja.movil_ella %></dd>
        </dl>
      </td>

		<td class="lista-acciones">
			<%= link_to 'Asistencia', asistencia_pareja_path(:id => pareja.id) %><br/>
			<% if true %>
        		<%= link_to 'Mostrar', pareja %><br/>
				<%= link_to 'Editar', edit_pareja_path(pareja) %><br/>
        		<%= link_to 'Borrar', pareja, 
                    :confirm => 'Está seguro?',
                   :method => :delete %>
			<% end %>
		</td>
	
    </tr>
  <% end %>
  </table>
</div>

<br />

	<% if false %>
<%= link_to 'Nueva pareja', new_pareja_path %>
	<% end %>
