<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @pareja.foto.url (:medium)%>
</p>

<p>
  <b> Código:</b> 
  <%= @pareja.codigo %>

  <b>Fecha 1era asamblea:</b>
  <%= @pareja.fch_1era_asamblea %>
</p>

<fieldset>
	<legend> DATOS DEL ESPOSO </legend>
<p>
  <b> Nombre:</b>
  <%= @pareja.nom_el %>

  <b>Fecha de nacimiento:</b>
  <%= @pareja.fch_nac_el %>
</p>
<p>
  <b>Ocupación:</b>
  <%= @pareja.ocupacion_el %>
</p>

<p>
  <b>Teléfono celular:</b>
  <%= @pareja.movil_el %>

  <b>Correo electrónico:</b>
  <%= @pareja.email_el %>
</p>
</fieldset>



<fieldset>
	<legend> DATOS DE LA ESPOSA </legend>
	<p>
	  <b>Nombre:</b>
	  <%= @pareja.nom_ella %>

	  <b>Fecha de nacimiento:</b>
	  <%= @pareja.fch_nac_ella %>
	</p>
	<p>
	  <b>Ocupación:</b>
	  <%= @pareja.ocupacion_ella %>
	</p>
	<p>
	  <b>Teléfono celular:</b>
	  <%= @pareja.movil_ella %>

	  <b>Correo electrónico:</b>
	  <%= @pareja.email_ella %>
	</p>
</fieldset>

<fieldset>
	<legend> DATOS DE AMBOS </legend>
	<p>
  		<b>Fecha de matrimonio:</b>
  		<%= @pareja.fch_matrimonio %>
	</p>

	<p>
  		<b>Lugar de residencia:</b>
  		<%= @pareja.residencia %>

  		<b>Teléfono de la casa:</b>
  		<%= @pareja.tel_casa %>
	</p>
</fieldset>

<fieldset>
	<legend> OTROS DATOS </legend>

	<p>
  		<b>Hijos vivos:</b>
  		<%= @pareja.hijos_vivos %>

  		<b>Pérdidas:</b>
  		<%= @pareja.perdidas %>
	</p>

	<p>
  		<b>Invitados por:</b>
  		<%= @pareja.invitados_por %>

  		<b>Ministerio:</b>
  		<%= @pareja.ministerio %>
	</p>

	<p>
  		<b>Retiro1:</b>
  		<%= @pareja.retiro1 %>
  		<b>Retiro2:</b>
  		<%= @pareja.retiro2 %>
  		<b>Retiro3:</b>
  		<%= @pareja.retiro3 %>
  		<b>Retiro4:</b>
  		<%= @pareja.retiro4 %>
	</p>
</fieldset>


<%= link_to 'Modificar', edit_pareja_path(@pareja) %> |
<%= link_to 'Anterior', parejas_path %>
