<p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @pareja.codigo %>
</p>

<p>
  <b>Nom el:</b>
  <%= @pareja.nom_el %>
</p>

<p>
  <b>Nom ella:</b>
  <%= @pareja.nom_ella %>
</p>

<p>
  <b>Fch 1era asamblea:</b>
  <%= @pareja.fch_1era_asamblea %>
</p>

<p>
  <b>Fch nac el:</b>
  <%= @pareja.fch_nac_el %>
</p>

<p>
  <b>Ocupacion el:</b>
  <%= @pareja.ocupacion_el %>
</p>

<p>
  <b>Movil el:</b>
  <%= @pareja.movil_el %>
</p>

<p>
  <b>Email el:</b>
  <%= @pareja.email_el %>
</p>

<p>
  <b>Fch nac ella:</b>
  <%= @pareja.fch_nac_ella %>
</p>

<p>
  <b>Ocupacion ella:</b>
  <%= @pareja.ocupacion_ella %>
</p>

<p>
  <b>Movil ella:</b>
  <%= @pareja.movil_ella %>
</p>

<p>
  <b>Email ella:</b>
  <%= @pareja.email_ella %>
</p>

<p>
  <b>Fch matrimonio:</b>
  <%= @pareja.fch_matrimonio %>
</p>

<p>
  <b>Residencia:</b>
  <%= @pareja.residencia %>
</p>

<p>
  <b>Tel casa:</b>
  <%= @pareja.tel_casa %>
</p>

<p>
  <b>Hijos vivos:</b>
  <%= @pareja.hijos_vivos %>
</p>

<p>
  <b>Perdidas:</b>
  <%= @pareja.perdidas %>
</p>

<p>
  <b>Invitados por:</b>
  <%= @pareja.invitados_por %>
</p>

<p>
  <b>Ministerio:</b>
  <%= @pareja.ministerio %>
</p>

<p>
  <b>Retiro1:</b>
  <%= @pareja.retiro1 %>
</p>

<p>
  <b>Retiro2:</b>
  <%= @pareja.retiro2 %>
</p>

<p>
  <b>Retiro3:</b>
  <%= @pareja.retiro3 %>
</p>

<p>
  <b>Retiro4:</b>
  <%= @pareja.retiro4 %>
</p>


<%= link_to 'Edit', edit_pareja_path(@pareja) %> |
<%= link_to 'Back', parejas_path %>
