<!DOCTYPE html>
<html>
<head>
  <title>Parejas</title>
<!-- START:stylesheet -->
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "parejas", :media => "all" %>
<!-- END:stylesheet -->
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

</head>
<body>

	<div id="banner">
		<%= image_tag("logo_matrimonios.jpg")%>
		<%= @page_title || "Matrimonios en Victoria - Pozos"%>
		<table>
		  <tr>
			<td id="link-menu">  <%= link_to 'Parejas', parejas_path %> </td>
			<td id="link-menu"> <%= link_to 'Asambleas', eventos_path %> </td>
			<td id="link-menu"> <%= link_to 'Hoja de Asistencia', hoja_asistencia_path %> </td>
			<td id="link-menu"> <%= link_to 'Asistencia de Parejas Activas', parejas_activas_path %> </td> 
			<td id="link-menu"> <%= link_to 'Información de Parejas Activas', parejas_activas_info_path %> </td>
			<td id="link-menu"> <%= link_to 'Aniversarios del Mes', aniversarios_mes_path %> </td>
		  </tr>
		</table>
	</div>
	
	<div id="user_nav">
	  <% if user_signed_in? %>
	    Usuario <%= current_user.email %>.
	    <%= link_to "Salir", destroy_user_session_path %>
	  <% else %>
	    <%= link_to "Registrarse", new_user_registration_path %> o <%= link_to "Ingresar", new_user_session_path %>
	  <% end %>
	</div>
	
	<%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
	<%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
	<%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
	
	
	<%= yield %>

</body>
</html>
