!!!
%html
  %head
    %title Parejas
    / START:stylesheet
    = stylesheet_link_tag "scaffold"
    = stylesheet_link_tag "parejas", :media => "all"
    / END:stylesheet
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #banner
      = @page_title || "Matrimonios en Victoria - Pozos"
    = yield
